@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

/*Div pai*/
.container{
    background-color: #F5F5F5;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    position: absolute;
    width: 258px;
    height: 175px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*Contéudo escrito*/
.content{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.25px;
    font-family: 'Nunito';

    color: #000000;
}

/*Estilo Toggle Button*/
/*Toggle Button*/
.switch{
    position: relative;
    display: inline-block;

    width: 182px;
    height: 72px;
    left: 38px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.25));
}

.slider{
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: 0.4s;

    background-color: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/*Circulo da alternância*/
.slider:before{
    position: absolute;
    content: "";
    left: 23px;
    bottom: 11px;
    transition: 0.4s;

    height: 50px;
    width: 50px;
    background-color: #D21E1E;
    border-radius: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/*Fundo da alertância*/
input:checked + .slider:before{
    background-color: #42D21E;
}

/*Distância do alternância do circulo ao clicar*/
input:checked + .slider:before{
    transform: translateX(84.5px);
}